@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
/*
*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}
*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:active, :focus {
  outline: 0;
}

aside, footer, header, nav, section {
  display: block;
}

body, html {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  min-width: 320px;
  background-color: #2b2b2b;
}

ul li {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid #fff;
}

.header__container {
  background-color: transparent;
}

._container {
  max-width: 1110px;
  min-height: 100px;
  margin: 0 auto;
}

.header__nav {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: flex-end;
}

.nav__panel {
  width: 100%;
}

.nav__list {
  position: center;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.nav__link {
  align-items: center;
  height: 100%;
  display: flex;
  color: #FFF;
  padding: 0 15px;
}

._active {
  border-bottom: 2px solid #fff;
}

.main {
  width: 100%;
  min-height: 1000px;
}

._backimg {
  background: url("../image/image1.jpg") center/cover no-repeat;
}

.hero-page__content {
  position: relative;
  width: 100%;
  min-height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-page__body {
  color: #FFFFFF;
  width: 100%;
  max-width: 830px;
  text-align: center;
}

.hero-page__title {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}

.hero-page__undertitle {
  font-weight: 800;
  font-size: 48px;
  margin-bottom: 50px;
}

._button {
  background-color: #4985ff;
  height: 45px;
  font-weight: 500;
  font-size: 16px;
  padding: 13px 36px 15px 36px;
  border-radius: 30px;
}

.services__content {
  padding-top: 110px;
  padding-bottom: 105px;
  background-color: #E5E5E5;
}

.services__body {
  text-align: center;
}

.services__title {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
}

.services__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 70px;
}

.service__templates {
  padding-bottom: 55px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  flex-direction: row;
}

.service__row {
  padding-bottom: 55px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  flex-wrap: wrap;
}

.services__column {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.services__element {
  display: flex;
  text-align: left;
}

.element-services__icons {
  padding: 0 15px;
  height: 110px;
}

.element-services__grey-circle {
  border: 1px solid #cbc2c2;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.element-services__blue-cicrle {
  border: 1px solid #4985FF;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-services__img {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-services {
  position: relative;
  top: 0;
  flex: 0 0 40px;
}

.element-services__content {
  margin-top: 45px;
  max-width: 226px;
}

.element-services__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.element-services__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.services__button {
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}

/*# sourceMappingURL=style.css.map */
